@use '../styles/typography'

.tooltip
  @include typography.label-small
  background-color: var(--color-foreground)
  border-radius: var(--radius-s, 0.25rem)
  color: var(--color-background)
  max-inline-size: var(--max-inline-size)
  padding: var(--size-40, 0.25rem) var(--size-80, 0.5rem)
  pointer-events: none

  &[data-entering]
    animation: tooltip-enter var(--transition-150) ease-out

  &[data-exiting]
    animation: tooltip-exit var(--transition-150) ease-in forwards

@keyframes tooltip-enter
  from
    opacity: 0
    scale: 0.95
  to
    opacity: 1
    scale: 1

@keyframes tooltip-exit
  from
    opacity: 1
    scale: 1
  to
    opacity: 0
    scale: 0.95
