@use 'selectors'

@mixin focus-border
  border: var(--element-stroke, 0.125rem) solid transparent

  @include selectors.focus-visible
    border-color: var(--color-ring)
    outline: none

@mixin focus-outline
  outline-offset: var(--size-20, 0.125rem)

  @include selectors.focus-visible
    outline: var(--element-stroke, 0.125rem) solid var(--color-ring)

:focus
  outline: none

:focus-visible
  outline: var(--element-stroke, 0.125rem) solid var(--color-ring)
  outline-offset: var(--size-20, 0.125rem)

[data-rac]:not([data-focus-visible])
  outline: none
